* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --body-color: #18181f;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #;
  --toggle-color: #fff;
  --text-color: #ccc;
  --hover-button: #695cfe;

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

/* body.light {
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
} */

.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
}

.navbar-container {
  display: flex;
  align-items: center;
  background-color: black;
  height: 100%;
  color: white;
}

.logo-container {
  flex: 1;
}

.logo {
  font-size: 30px;
  margin-left: 1.7em;
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
}
.menu-item {
  margin-right: 30px;
}

.menu-item.active {
  font-weight: bold;
}

.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
}

.profile-text-container {
  margin: 0 20px;
}

.sidebar {
  width: 50px;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.left-menu-icon {
  color: white;
  margin-bottom: 30px;
}

.container {
  background-color: #151515;
  height: calc(100% - 50px);
  color: white;
}

.content {
  margin-left: 50px;
}

/* .feature-movies {
  height: 50vh;
  background-color: tomato;
} */

/* Cards Displayed */
.cardsContainer {
  flex-grow: 1;
  padding: 1.3em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11em, 1fr));
  gap: 1em;
  transition: all 0.5s ease;
  /* background-color: #695cfe; */
}

.card {
  box-shadow: 5px 15px 30px rgb(0, 0, 0, 0.3);
  border-radius: 0.5em;
  overflow: hidden;
}

.card img {
  /* border-bottom-left-radius: 0; */
  display: block;
  width: 100%;
  border-radius: 0.5em;

  margin-left: auto;
  margin-right: auto;
}

.card p {
  text-align: center;
  text-decoration: none;
  color: black;
}

.overviewContainer {
  background-color: #151515;
  display: flex;
  gap: 3em;
  margin: 2em;
  color: black;
  border-radius: 0.5rem;
  box-shadow: 5px 15px 30px rgb(0, 0, 0, 0.6);
}

.overviewContainer img {
  border-radius: 0.5rem;
  height: 100%;
}

.title {
  font-size: clamp(2rem, 4vw, 3rem);
}

.overview {
  /* max-width: 25em; */
  font-size: 1.2em;
}

.releaseDate {
  font-size: 1.2em;
  display: flex;
  column-gap: 0.3em;
}

.Rating {
  width: 3em;
  height: auto;
  font-size: 1.3em;
  /* border: 1px solid white; */
  border-radius: 0.5em;
  line-height: 0;
}
