body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #18181f;
  height: 100%;
}

.App {
  display: flex;
  height: 100%;
}

/* Nav Icons */

#user,
#home,
#discover,
#video,
#faRightFromBracket,
#setting {
  color: white;
}

.exit {
  color: antiquewhite;
}

nav {
  border: 2px solid aqua;
  display: flex;
  width: 250px;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  /* padding: 30px 15px; */
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  color: white;
  /* background-color: aqua; */
  /* margin-bottom: 1em; */
}

/* .user h2 {
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
  color: white;
} */

ul {
  list-style: none;
  /* padding: 0 15px; */
}

ul li {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* 
ul li p {
  white-space: nowrap;
  display: none;
  padding-left: 1em;
} */

.cardsContainer {
  margin-left: 285px;
  flex-grow: 1;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11em, 1fr));
  margin-top: 1rem;
  gap: 1em;
}

.card {
  box-shadow: 5px 15px 30px rgb(0, 0, 0, 0.3);
  border-radius: 0.5em;
  overflow: hidden;
}

.card img {
  /* border-bottom-left-radius: 0; */
  display: block;
  width: 100%;
  border-radius: 0.5em;

  margin-left: auto;
  margin-right: auto;
}

.card p {
  text-align: center;
  text-decoration: none;
  color: white;
}

.overviewContainer {
  display: flex;
  gap: 3em;
  margin: 2em;

  /* background-color: ; */
  color: white;
  border-radius: 0.5rem;
  box-shadow: 5px 15px 30px rgb(0, 0, 0, 0.6);
}

.overviewContainer img {
  border-radius: 0.5rem;
  height: 100%;
}

.title {
  font-size: clamp(2rem, 4vw, 3rem);
}

.overview {
  /* max-width: 25em; */
  font-size: 1.2em;
}

.releaseDate {
  font-size: 1.2em;
  display: flex;
  column-gap: 0.3em;
}

.Rating {
  width: 3em;
  height: auto;
  font-size: 1.3em;
  border: 1px solid white;
  border-radius: 0.5em;

  line-height: 0;
}
